body {
    background-color: rgba(43, 71, 36);
      background-image: url("img/andlers-ash-tree-nursery-hillier-aerial-view.jpg");
      background-repeat:no-repeat;
      background-size: 120%;
       position: relative;
      font-family: Arial, Helvetica, sans-serif;
      display: flex;
      flex-direction: column;
      min-height: 130vh;

    }

    ::-webkit-scrollbar{
      background: rgb(75, 92, 60);
      width: 12px;
      height: 14px;
    }
    ::-webkit-scrollbar-button{
      background: #ffc847;
      border-radius: 2px;
    }
    ::-webkit-scrollbar-corner{
      background-image: url("https://cdn.britannica.com/58/129958-050-C0EF01A4/Adolf-Hitler-1933.jpg");
      background-size:cover;
    
    }

     ::-webkit-scrollbar-thumb{
      background: #ffc847;
      border-radius: 5px;
    }

    ::-webkit-scrollbar-thumb:hover{
      border:rgba(255, 255, 255, 0.5) 3px solid;
      cursor: wait;
    }

    .termekbg{
      background-color:rgb(75, 92, 60) ;
    }

    .headerh1 {
      text-align: center;
      margin-bottom: 20px;
      color: white;
    }

    .headerp {
      font-size: 20px;
      max-width: 600px;
      margin: 0px auto 5px auto;
      text-align: center;
      color:white
    }

    .cards-wrapper {
      display: flex;
      justify-content: center;
      gap: 30px;
      flex-wrap: wrap;
      
    }

    .card-container {
      perspective: 1000px;
      width: 200px;
      height: 200px;
    }
.kozeprekene{
  margin-top:3%;
  float:left;
  margin-left:17.2%;
}

h1 {
  text-align: center;
  margin-bottom: 10px;
}

p {
  max-width: 600px;
  margin: 0 auto 40px auto;
  text-align: center;
}

.cards-wrapper {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;

}

.card-container {
  perspective: 1000px;
  width: 200px;
  height: 200px;
}

.kozeprekene {
  margin-top: 2%;
  float: left;
  margin-left: 17.2%;
}

.card {
  width: 100%;
  height: 100px;

  position: relative;
  transform-style: preserve-3d;
  transition: cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.6s;
  cursor:help;

}

.card-container:hover .card {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 200px;
  height: 200px;
  backface-visibility: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  background-color: #708238;


}

.card-front {
  /* background-color: rgba(128,128,128,0.8); szürke áttetsző */
  color: white;

}

.card-back {
  background-color: #708238;

  color: white;
  transform: rotateY(180deg);
}

.card-back img{
  width: 180px;
  height: 180px;
}

header {
  background-color: rgba(43, 71, 36, 0.8);
  padding: 40px;
  border-bottom: white 3px solid;
}



.blur {
  backdrop-filter: blur(5px);
  border: 1px rgb(255, 200, 71, 0.4) solid;
}

.teto {
  padding: 60px;
  border-bottom: white 2px solid;
  text-align: center;
  color: white;
  background-image: linear-gradient(transparent,transparent, rgba(84, 139, 71, 0.5));
  backdrop-filter: blur(5px);

}

.teto .headerh1{
  text-shadow: black 3px 3px 5px;
}

.headertext {
  font-size: 40px;
  color: #e7e5e5;
  text-align: left;
  margin-left: 30px;
}

input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ffc847; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #2fc990;
  border-radius: 10px;
  padding: 13px 20px;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #708238;
  padding: 20px;
}

.nav {
  padding: 0;
  margin: 0;
  width: 100%;
}

.nava {
  display: block;
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 19px 16px;
  text-decoration: none;
  border: rgb(255, 255, 255, 0.3) 1px solid
}

.nava:hover {
  color: #ffc847;
  background-color: rgb(255, 255, 255, 0.6);
}

.navkep{
  padding: 4px 20px;
}

.navactive {
  background-color: rgb(231, 229, 229, 0.5);

}


.vidi iframe{ 
  display: flex;
  margin:0px auto 20px auto;
display:block
          
}

.gyumolcs {
  background-image: linear-gradient(transparent,transparent, rgb(255, 200, 71, 0.4),transparent, transparent);
  padding: 18px;

  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.gyumolcs h2 {
  color: white;
  font-weight: bold;
  padding:20px;
  margin-left: 35%;
  margin-right: 35%;
  text-shadow: black 5px 5px 5px;
  background-color:rgb(255, 200, 71, 0.3);
  
  border-radius:10px;
}

.gyumolcsbelso {
  margin-right: 20px;
  margin-left: 20px;
  padding: 6px;
  background-color: #5DBB63;
  border-radius: 10px;
  box-shadow: black 8px 8px 30px;

}

.gyumolcs table{
  border-radius: 20px;
  border-collapse:separate;
  text-align: center;
  container-type: block;
  margin: 20px auto 20px auto ;
  color: white;
  font-size: 20px;
  width: 2100px;
  border: rgb(255, 200, 71, 0.4) 2px solid;
  background-color: rgba(77, 95, 65, 0.8);
  max-width: 80%;
}

footer{
  width: 100%;
  padding: 0.8%;
  background-color: rgba(61, 61, 61, 0.8);
  
  margin: 0;
    min-height: 85px;
    margin-top: auto;
    

  
}
footer p {
  color: white;
  font-weight: bold;

}