body {
  background-image: url("/img/andlers-ash-tree-nursery-hillier-aerial-view.jpg");
  
}

.accordion1  {
  background-color: #eee;
  color: #444;
  cursor: url('https://emoji.discadia.com/emojis/9ee09652-9017-46d8-be33-70e75fcefa06.PNG') 64 64, wait;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition:cubic-bezier(0.215, 0.610, 0.355, 1) 0.7s ; 
}



 .accordion1:hover {
  background-color: #97978F;
}

.blur{
  backdrop-filter: blur(5px);
}

.teto {
  padding: 100px;
  text-align: center;
  color: white;
   backdrop-filter: blur(5px);
}
